:root {
  --background-color_1: #f0ffff;
  --background-color_2: #073763;
  --text-color_1: #2b2b2b;
  --text-color_2: #05676e;
  --color_1: red;
  --color_2: blue;
  --color_3: purple;
  --color_4: white;
  --border-color_1: rgba(0, 0, 0, 0.3);
  --animation-color_1:#33A892;
  --animation-color_2:#fcffad;
  --animation-color_3:#f76414;
  --font-size_1: 18px;
  --font-size_2: 14px;
  --font-size_3: 20px;
  --font-size_4: 40px;
  --font-size_5: 45px;
  --font-family_1: 'oswald', sans-serif;
  --font-weight_1: 700;
}

body {
  font-family: var(--font-family_1);
  color: var(--text-color_1);
  background-color: var(--background-color_1);
}

header {
  font-size: var(--font-size_4);
  font-weight: var(--font-weight_1);
}

h1 {
  font-size: var(--font-size_5);
  font-weight: var(--font-weight_1);
  text-align: center;
}

h2 {
  font-size: var(--font-size_3);
  font-weight: var(--font-weight_1);
  text-align: center;
}

h3 {
  font-size: var(--font-size_3);
  font-weight: var(--font-weight_1);
  text-align: center;
}

p {
  font-size: var(--font-size_3);
  line-height: 1.5;
  text-align: center;
}

li {
  font-size: var(--font-size_3);
  line-height: 1.5;
  text-align: center;
  list-style-type: none;
}

#table {
  text-align: center;
}

table {
  border: 5px solid var(--border-color_1);
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

td {
  padding: 20px 15vw 20px 15vw;
  text-align: right;
}

.table-title {
  font-size: var(--font-size_3);
  font-style: bold;
}

a:visited {
  color: var(--text-color_2);
}

a:hover {
  color: var(--color_3);
  text-decoration: none;
}

a:focus {
  outline: 7px solid var(--color_2);
}

a:active {
  color: var(--text-color_2);
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  display: inline-block;
  margin-top: 5px;
}

.page-header_item {
  flex: 0 1 200px;
}

.page-header_item {
  flex-grow: 1;
  text-align: right;
}

.navigation-list_item {
  list-style-type: none;
  font-size: var(--font-size_2);
}

.navigation-list {
  display: inline-block;
  margin-right: 10px;
  margin-left: 30px;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 8vh;
}

.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.5;
}

.button {
  margin: 10px 47vw;
  border: none;
  display: inline-block;
  font-family: var(--font-family_1);
  background-color: var(--text-color_2);
  color: var(--color_4);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid var(--border-color_1);
  transition-property: opacity;
  transition-duration: 10s;
}

.left-prop {
  margin-right: 70px;
}

svg {
  width: 50%;
  height: 600px;
  margin-left: 25vw;
}

@keyframes color-change {
  0% {
    fill: var(--animation-color_1);
  }

  50% {
    fill: var(--animation-color_2);
  }

  100% {
    fill: var(--animation-color_3);
  }
}

.st21,
.st15,
.st12 {
  animation-duration: 10s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(800px, 100px);
    margin-right: 800px;
  }

  to {
    transform: translate(100px, 0px);
  }
}

.st4 {
  animation: 4s cloud-move infinite alternate linear;
}

.design-reference {
  text-align: center
}